# INST 447 -- Final Exam

Spring '22

Alec M.

In [ ]:
# Import modules
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import json
import sqlite3
from google.colab import drive
from pandas.io.json import json_normalize #special package in pandas
from lxml import etree

In [ ]:
# Mount Storage (colab.research.google.com)
drive.mount('/content/drive', force_remount = False)

Mounted at /content/drive

In [ ]:
import json

fruits_str = '[{"kind":"apple", "varieties":[{"variety":"fuji"},{"variety":"jazz"}]}, {"kind":"orange", "varieties":[{"variety":"navel"}]}]' 

fruits_json = json.loads(fruits_str)

fruits_df = json_normalize(fruits_json,record_path='varieties',meta='kind')
fruits_df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  import sys

  variety    kind
0    fuji   apple
1    jazz   apple
2   navel  orange

In [ ]:
import requests

r = requests.get("https://coronavirus.dc.gov/page/coronavirus-data")
print(r.status_code)

200

In [17]:
df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Border_Crossing_Entry_Data.csv")
df

,PortName,State,PortCode,Border,Date,Measure,Value
0,Alcan,AK,3104,US-Canada Border,2/1/2020 00:00,Personal Vehicle Passengers,1414
1,Alcan,AK,3104,US-Canada Border,2/1/2020 00:00,Personal Vehicles,763
2,Alcan,AK,3104,US-Canada Border,2/1/2020 00:00,Truck Containers Empty,412
3,Alcan,AK,3104,US-Canada Border,2/1/2020 00:00,Truck Containers Full,122
4,Alcan,AK,3104,US-Canada Border,2/1/2020 00:00,Trucks,545
...,...,...,...,...,...,...,...
355506,Antler,ND,3413,US-Canada Border,1/1/1996 00:00,Personal Vehicle Passengers,1576
355507,Tecate,CA,2505,US-Mexico Border,1/1/1996 00:00,Trucks,3228
355508,Calais,ME,115,US-Canada Border,1/1/1996 00:00,Trucks,8955
355509,Carbury,ND,3421,US-Canada Border,1/1/1996 00:00,Truck Containers Empty,0
355510,Skagway,AK,3103,US-Canada Border,1/1/1996 00:00,Buses,3

In [26]:
ndf = df[["Measure", "Value"]].groupby(["Measure"]).sum()
ndf

                                  Value
Measure
Bus Passengers                146027374
Buses                           8754394
Pedestrians                  1090067964
Personal Vehicle Passengers  5629526756
Personal Vehicles            2651535415
Rail Containers Empty          22386399
Rail Containers Full           40492650
Train Passengers                6472717
Trains                           933270
Truck Containers Empty         67036035
Truck Containers Full         185463194
Trucks                        264731943

4447374