# Lab 4 Data Wrangling

Skills
- Data Format
    - Long vs. Wide
- Merging (merge)
- Reshaping (melt)
- Aggregating (groupby, agg)
- Calculating new variables

In [1]:
# import modules you need
import pandas as pd
import numpy as np
from google.colab import drive

In [18]:
drive.mount('/content/drive', force_remount = False)

# Write code to read in the data sets. Name the datasets as follows, respectively: orders, products, order_products, organic, conventional)
# orders_447.csv
# products.csv
# order_products_447.csv
# OrganicAisle.csv
# ConventionalAisle.csv
orders = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/INST 447/orders_447.csv")
products = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/INST 447/products.csv")
order_products = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/INST 447/order_products_447.csv")
organic = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/INST 447/OrganicAisle.csv")
conventional = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/INST 447/ConventionalAisle.csv")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# Part A: Aggregation

## Units of Analysis

In [6]:
# get the number of rows/observations and print the first few lines of the orders data set 
print(orders.shape)
print(orders.head())

(5000, 8)
   order_id  num_items  ...  order_hour_of_day days_since_prior_order
0   2281065         24  ...                 16                   14.0
1   3407099          3  ...                 14                    7.0
2   2106016          7  ...                 18                   29.0
3   1222212          1  ...                 13                    4.0
4   2571664         15  ...                  8                    6.0

[5 rows x 8 columns]

In [7]:
# get the number of rows/observations and print the first few lines of the products data set
print(products.shape)
print(products.head())

(49688, 4)
   product_id  ... department_id
0           1  ...            19
1           2  ...            13
2           3  ...             7
3           4  ...             1
4           5  ...            13

[5 rows x 4 columns]

In [8]:
# get the number of rows/observations and print the first few lines of the order_products data set 
print(order_products.shape)
print(order_products.head())

(50778, 15)
   order_id  product_id  add_to_cart_order  ...  department_id  department aisle
0     10853       33120                  2  ...             16  dairy eggs  eggs
1    112647       33120                  8  ...             16  dairy eggs  eggs
2    207058       33120                  1  ...             16  dairy eggs  eggs
3    521908       33120                  6  ...             16  dairy eggs  eggs
4    522668       33120                  1  ...             16  dairy eggs  eggs

[5 rows x 15 columns]

## Aggregation

In [79]:
# aggregate the order_products data set to get the count of the number of items ordered per department 
# reset the index and rename the columns after you've aggregated the data, so the columns make sense for what is being displayed (i.e. the column for "count" should be named accordingly)
temp = pd.DataFrame(order_products[['add_to_cart_order', 'department']]).groupby(['department']).agg('sum')
temp

                 add_to_cart_order
department
alcohol                       1313
babies                        7754
bakery                       14016
beverages                    29725
breakfast                     9254
bulk                           580
canned goods                 16495
dairy eggs                   61940
deli                         14401
dry goods pasta              13883
frozen                       29717
household                     8918
international                 4209
meat seafood                  8990
missing                       1063
other                          316
pantry                       28786
personal care                 6088
pets                          1168
produce                     120846
snacks                       40073

In [20]:
# aggregate the order_products data set to get the count of the number of items ordered per aisle
# reset the index and rename the columns after you've aggregated the data, so the columns make sense for what is being displayed (i.e. the column for "count" should be named accordingly)
temp = pd.DataFrame(order_products[['aisle_id','add_to_cart_order']]).groupby(['aisle_id']).agg('sum')
temp

          add_to_cart_order
aisle_id
1                       933
2                      1478
3                      6177
4                      3361
5                       812
...                     ...
130                    1888
131                    4217
132                      36
133                     116
134                      50

[134 rows x 1 columns]

In [21]:
# aggregate the order_products data set to get the count of the number of items ordered per day of week
# reset the index and rename the columns after you've aggregated the data, so the columns make sense for what is being displayed (i.e. the column for "count" should be named accordingly)
temp = pd.DataFrame(order_products[['order_dow','add_to_cart_order']]).groupby(['order_dow']).agg('sum')
temp
# To interpret the data, remember that 0 = Monday, 1 = Tuesday, 2 = Wednesday, etc.

           add_to_cart_order
order_dow
0                      84211
1                      76395
2                      53160
3                      42229
4                      46344
5                      53884
6                      63312

In [26]:
# aggregate the orders data set to get the mean number of items (num_items) ordered per order number (order_number)
# reset the index and rename the columns after you've aggregated the data, so the columns make sense for what is being displayed (i.e. the column for "count" should be named accordingly)
temp = pd.DataFrame(orders[['order_number','num_items']]).groupby(['order_number']).agg('mean')
temp

              num_items
order_number
1              9.702128
2              9.530000
3              9.606667
4             10.097222
5             10.508961
...                 ...
95            10.000000
96             9.333333
97             8.000000
98             3.333333
99             6.333333

[98 rows x 1 columns]

In [27]:
# aggregate the orders data set to get the median number of items (num_items) ordered per order number (order_number)
# reset the index and rename the columns after you've aggregated the data, so the columns make sense for what is being displayed (i.e. the column for "count" should be named accordingly)
temp = pd.DataFrame(orders[['order_number','num_items']]).groupby(['order_number']).agg('median')
temp

              num_items
order_number
1                   8.0
2                   8.0
3                   8.0
4                   9.0
5                   9.0
...                 ...
95                 10.0
96                 10.0
97                  8.0
98                  1.0
99                  6.0

[98 rows x 1 columns]

Questions to think about:
- Which department had the most items ordered? The fewest?
- Which aisle had the most items ordered? The fewest?
- Which day of the week had the most items ordered? The fewest?
- On average do people order more, fewer, or the same number of items after they have tried the service (order numbers 2, 3, etc.) compared to the first time they try the service (order numbers 1)?

# Part B: Subsetting/Merging

In [28]:
# Run this cell to create the example data sets needed for the next section
fruit_weights = pd.DataFrame({'fruit':['apples','bananas','apricots'],'weight_lbs':[0.50,.33,.10]})
fruit_prices = pd.DataFrame({'fruit':['oranges','bananas','apples'],'price_lbs':[1.39,0.58,2.99]})

## Subsetting

In [32]:
# In fruit_weights, select rows where the fruit weight in pounds (weight_lbs) is less than .4 lbs (using the < operator)
fruit_weights.loc[fruit_weights['weight_lbs'] < 0.4]

      fruit  weight_lbs
1   bananas        0.33
2  apricots        0.10

In [80]:
temp = pd.merge(fruit_weights,fruit_prices,how="outer",on="fruit")
temp.shape

(4, 3)

In [81]:
pd.merge(fruit_weights,fruit_prices,how="inner",on="fruit")

     fruit  weight_lbs  price_lbs
0   apples        0.50       2.99
1  bananas        0.33       0.58

In [33]:
# In fruit_prices, select rows where the fruit price per pound (price_lbs) is higher than $1.00/lb (using the > operator)
fruit_prices.loc[fruit_prices['price_lbs'] > 1.0]

     fruit  price_lbs
0  oranges       1.39
2   apples       2.99

In [34]:
# In fruit_prices, select only rows where fruit = 'apples'
fruit_prices.loc[fruit_prices['fruit'] == 'apples']

    fruit  price_lbs
2  apples       2.99

## Merging

In [42]:
# Merge fruit_weights and fruit_prices, resulting in a dataframe called merge1. Your final data set should have *all* fruits that appear in each data set. 
# Before doing this, ask yourself "What type of join results in all records being pulled from both datasets?"
# Get the number of rows and print the first few rows
merge1 = pd.merge(fruit_weights, fruit_prices, how = 'outer', on = ['fruit'])

print(merge1.shape)

merge1.head()

(4, 3)

      fruit  weight_lbs  price_lbs
0    apples        0.50       2.99
1   bananas        0.33       0.58
2  apricots        0.10        NaN
3   oranges         NaN       1.39

In [43]:
# Merge fruit_weights and fruit_prices, resulting in a dataframe called merge2.
# Your final data set should *only* have fruits for which there is a record in both the fruit_weights AND fruit_prices datasets
# Get the number of rows and print the first few rows
merge2 = pd.merge(fruit_weights, fruit_prices, how = 'inner', on = ['fruit'])

print(merge2.shape)

merge2.head()

(2, 3)

     fruit  weight_lbs  price_lbs
0   apples        0.50       2.99
1  bananas        0.33       0.58

In [44]:
# Merge the organic and conventional data sets, resulting in a dataframe called merge3, using how = "inner", on aisle_id & aisle
# Get the number of rows and print the first few rows
merge3 = pd.merge(organic, conventional, how = 'inner', on = ['aisle_id', 'aisle'])

print(merge3.shape)

merge3.head()

(123, 4)

   aisle_id  num_items_x                       aisle  num_items_y
0         1          895       prepared soups salads         2679
1         2           36           specialty cheeses         3801
2         3         2289         energy granola bars        15134
3         4         1320               instant foods         8539
4         5          191  marinades meat preparation         2623

In [45]:
# Merge the organic and conventional data sets, resulting in a dataframe called merge4, using how = "outer", on aisle_id & aisle
# get the number of rows and print the first few rows
merge4 = pd.merge(organic, conventional, how = 'outer', on = ['aisle_id', 'aisle'])

print(merge4.shape)

merge4.head()

(134, 4)

   aisle_id  num_items_x                       aisle  num_items_y
0         1        895.0       prepared soups salads         2679
1         2         36.0           specialty cheeses         3801
2         3       2289.0         energy granola bars        15134
3         4       1320.0               instant foods         8539
4         5        191.0  marinades meat preparation         2623

In [46]:
# Merge the organic and conventional data sets, resulting in a dataframe called merge5, using how = "left", on aisle_id & aisle
# Get the number of rows and print the first few rows
merge5 = pd.merge(organic, conventional, how = 'left', on = ['aisle_id', 'aisle'])

print(merge5.shape)

merge5.head()

(123, 4)

   aisle_id  num_items_x                       aisle  num_items_y
0         1          895       prepared soups salads         2679
1         2           36           specialty cheeses         3801
2         3         2289         energy granola bars        15134
3         4         1320               instant foods         8539
4         5          191  marinades meat preparation         2623

In [47]:
# Merge the organic and conventional data sets, resulting in a dataframe called merge6, with how = "right" , on aisle_id & aisle
# Get the number of rows and print the first few rows
merge6 = pd.merge(organic, conventional, how = 'right', on = ['aisle_id', 'aisle'])

print(merge6.shape)

merge6.head()

(134, 4)

   aisle_id  num_items_x                       aisle  num_items_y
0         1        895.0       prepared soups salads         2679
1         2         36.0           specialty cheeses         3801
2         3       2289.0         energy granola bars        15134
3         4       1320.0               instant foods         8539
4         5        191.0  marinades meat preparation         2623

Questions to think about:
- Why shouldn't you merge on "num_items"?
- How do the number of rows differ among the different merges?
- Why do the merges result in different data sets?
- Which merge is the appropriate choice? Why?

# Part C: Reshaping/Calculating

## Reshaping

In [48]:
# Run this cell to create the example data sets needed for the next section
fruit_orders = pd.DataFrame({'fruit':['apples','bananas','apricots'],'order1':[4,0,5],'order2':[1,3,0],'order3':[6,5,4]})
fruit_inventory = pd.DataFrame({'fruit':['apples','apples','oranges','oranges'],'store':['safeway','giant','safeway','giant'],'inventory':[100,75,62,59]})

In [55]:
# convert fruit_orders to long format
fo_long = pd.melt(fruit_orders, id_vars='fruit', 
                      value_vars=['order1', 'order2', 'order3'], 
                      var_name='Order', value_name='Order Qty')
fo_long

      fruit   Order  Order Qty
0    apples  order1          4
1   bananas  order1          0
2  apricots  order1          5
3    apples  order2          1
4   bananas  order2          3
5  apricots  order2          0
6    apples  order3          6
7   bananas  order3          5
8  apricots  order3          4

In [62]:
# convert fruit_inventory to wide format
fi_wide = fruit_inventory.pivot(index = 'store', columns = 'fruit', values = 'inventory')
fi_wide

fruit    apples  oranges
store
giant        75       59
safeway     100       62

In [69]:
# convert the merged conventional/organic data set with how="inner", merge3, to long format
m3_long = pd.melt(merge3, id_vars = 'aisle_id',
                  value_vars = ['num_items_x', 'aisle', 'num_items_y'],
                  var_name = 'Aisle ID', value_name = 'Item Count')
m3_long

     aisle_id     Aisle ID Item Count
0           1  num_items_x        895
1           2  num_items_x         36
2           3  num_items_x       2289
3           4  num_items_x       1320
4           5  num_items_x        191
..        ...          ...        ...
364       129  num_items_y       8228
365       130  num_items_y       4848
366       131  num_items_y       8498
367       132  num_items_y        244
368       133  num_items_y        895

[369 rows x 3 columns]

## Calculating

In [71]:
# Create a new column in merge1, the fruit prices dataset, that equals the total price per item of each fruit
# HINT: price_per_item = price per pound (price_lbs) * lbs (weight_lbs)
# print the first few rows
merge1["price_per_item"] = merge1["price_lbs"] * merge1["weight_lbs"]

merge1.head()

      fruit  weight_lbs  price_lbs  price_per_item
0    apples        0.50       2.99          1.4950
1   bananas        0.33       0.58          0.1914
2  apricots        0.10        NaN             NaN
3   oranges         NaN       1.39             NaN

In [72]:
# Create a new column in the fruit_orders dataset that equals the total number of items ordered
# HINT: sum number of items ordered in order1, order2, order3
# print the first few rows
fruit_orders["total_items"] = fruit_orders[['order1','order2','order3']].apply(lambda x: sum(x), 1)

fruit_orders.head()

      fruit  order1  order2  order3  total_items
0    apples       4       1       6           11
1   bananas       0       3       5            8
2  apricots       5       0       4            9

In [75]:
# Create a new column in merge1 that equals the weight per item in grams instead of lbs
# use apply with a lambda function
# 1 pound = 454 grams
# HINT: weight grams = weight lbs * (454)
# print the first few rows
merge1["weight_grams"] = merge1[['weight_lbs']].apply(lambda x: x * 454, 1)

merge1.head()

      fruit  weight_lbs  price_lbs  price_per_item  weight_grams
0    apples        0.50       2.99          1.4950        227.00
1   bananas        0.33       0.58          0.1914        149.82
2  apricots        0.10        NaN             NaN         45.40
3   oranges         NaN       1.39             NaN           NaN